<div id="footer">
    <div>
    <div id="footer-contact">
        <div id="footer-connect">
            <h2>Connect with us:</h2>
            <p>{{site.contact.email}}</p>
            <p>Portland, OR</p>
        </div>
        <div id="footer-buttons">
            <div id="socials">
                <a href="{{site.social.facebook}}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="{{site.social.instagram}}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="mailto:{{site.contact.email}}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div id="donate">
                <a href="https://secure.givelively.org/donate/bit-by-bit-coding" target ="_blank"><button>Donate</button></a>
            </div>
        </div>
        <div class="footer-info">
            <p>Bit by Bit Coding is a registered nonprofit</p>
            <p>EIN 84-5025902</p>
            <p>&copy; 2020 Bit by Bit Coding</p>
            <a href="https://docs.google.com/spreadsheets/d/1JeronQTIVhR2rh2SqXdKYD5lrsmgdPjrohavRBWw1uw/edit?usp=sharing" target="_blank"><button id="financial-info">Camp Budget</button></a>
        </div>
    </div>
</div>