<div id="footer">
    <div id="footer-contact">
        <div id="footer-contact-1">
            Connect with us: <a href="mailto:{{site.contact.email}}" target="_blank">info@bitbybitcoding.org</a>
            Portland, OR
        </div>
        <div>
            <a href="{{site.social.facebook}}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="{{site.social.instagram}}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="mailto:{{site.contact.email}}" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </div>

    </div>
    Bit by Bit Coding is a registered nonprofit
    <br>
    EIN 84-5025902
    <br>
    &copy; 2020 Bit by Bit Coding
</div>