<div id="footer">
    <div id="footer-contact">
        <div id="footer-connect">
            <h2>Connect with us:</h2>
            <a class="small-link" href="mailto:{{site.contact.email}}">{{site.contact.email}}</a>
            <p>Portland, OR</p>
        </div>
        <div class="maillist">
            <p>Sign up for our mailing list here</p>
            <iframe id="mailing-list" src="https://bitbybitcoding.substack.com/embed" frameborder="0" scrolling="no"></iframe>
        </div>
        <div id="footer-buttons">
            <div id="socials">
                <a href="{{site.social.facebook}}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="{{site.social.instagram}}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="{{site.social.linkedin}}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <!-- <div id="donate">
                <a href="{{site.donate.page}}" target ="_blank"><button>Donate</button></a>
            </div> -->
        </div>
        <div class="footer-info">
            <p>Bit by Bit Coding is a registered nonprofit</p>
            <p>EIN 84-5025902</p>
            <p>&copy; 2021 Bit by Bit Coding</p>
            <a href="{{site.financials.budget}}" target="_blank" class="small-link">Financials</a>
        </div>
        <div>
            <h2>Sponsors</h2>
            <div id="puppetwhitebox">
                <img id="puppetlogo" src="imgs/Logos and Icons/puppet-logo.jpg" alt="puppet">
            </div>
        </div>
    </div>
</div>