<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, user-scalable=no"
/>
<script src="https://use.fontawesome.com/d3acecdb64.js"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap"
  rel="stylesheet"
/>
<link rel="icon" type="image/png" href="imgs/Logos and Icons/favicon.svg" />
<link rel="stylesheet" href="styles/style.css" />
