<nav id="topnav">
    <a href="{{ 'index.html' | relative_url | remove: '.html' }}">
        <img src="imgs/logobxbattached.svg" id="navlogo">
    </a>
    <input class="checkbox-toggle mobile" type="checkbox"/>

    <div class="hamburger mobile">
        <div></div>
    </div>
    <nav id="topnav-right">
        <div>
            <div>
                <a href="{{ '/' | relative_url | remove: '.html' }}">
                    <button class="navbutton">Home</button>
                </a>
                <a href="{{ 'programs.html' | relative_url | remove: '.html' }}">
                    <button class="navbutton">Programs</button>
                </a>
                <a href="{{ 'about.html' | relative_url | remove: '.html' }}">
                    <button class="navbutton">About</button>
                </a>
                <a href="{{ 'volunteer.html' | relative_url | remove: '.html' }}">
                    <button class="navbutton">Volunteer</button>
                </a>
                <a href="{{ 'donate.html' | relative_url | remove: '.html' }}">
                    <button class="navbutton">Donate</button>
                </a>
            </div>
        </div>

    </nav>
</nav>
