<nav id="topnav">
    <a href="{{ 'index.html' | relative_url }}">
        <img src="imgs/Logo.svg" id="navlogo">
    </a>
    <input class="checkbox-toggle mobile" type="checkbox"/>

    <div class="hamburger mobile">
        <div></div>
    </div>
    <nav id="topnav-right">
        <div>
            <div>
                <a href="{{ 'index.html' | relative_url }}">
                    <button class="navbutton">Home</button>
                </a>
                <a href="{{ 'faqs.html' | relative_url }}">
                    <button class="navbutton">FAQ</button>
                </a>
                <a href="{{ 'about.html' | relative_url }}">
                    <button class="navbutton">About</button>
                </a>
                <a href="{{ 'volunteer.html' | relative_url }}">
                    <button class="navbutton">Volunteer</button>
                </a>
                <a href="https://secure.givelively.org/donate/bit-by-bit-coding">
                    <button class="navbutton">Donate</button>
                </a>
                <a href="{{ 'signup.html' | relative_url }}">
                    <button class="navbutton action-button tinybutton">Sign Up</button>
                </a>
            </div>
        </div>

    </nav>
</nav>