$main: #2d97b7; //not on the color scheme PDF
$dark: #283576; //not on the color scheme PDF
$gradient: linear-gradient(-45deg, #283576 0%, #2d97b7 100%);

$heading-font: 'Nunito', 'Avenir', sans-serif;
$body-font: 'Roboto', 'Avenir', sans-serif;