$main: #1BB1DE;
$dark: #153570;
$accentorange: #FFA640;
$lightblue: #69CEEC;
$body-color: #4A4746;
$gradient: linear-gradient(-45deg, #153570 0%, #1BB1DE 100%);

$heading-font: 'Nunito', 'Avenir', sans-serif;
$body-font: 'Roboto', 'Avenir', sans-serif;