/* nunito-regular - latin */
body {
    font-size: 28px;
    text-align: center;
}
h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 64px;
}
#home, #support {
    background-image: linear-gradient(to bottom right, #2d959e, #153570);
    color: #EEEEEE;
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin: auto;
    padding: 10px;
    width: 300px;
    font-size: 22px;
}

#container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
#left, #right {
    display: inline-flex;
    flex-flow: column;
    max-width: 500px;
    flex: 1 400px;
    margin: 10px 20px;
}
#left {
    float: left;
}
#right {
    float: right;
    text-align: left;
}
img {
    float: right;
}
#home:hover, #support:hover {
    background-image: linear-gradient(to bottom right, #153570, #000000);
    cursor: pointer;
}