---
---

$main: #2d97b7;
$dark: #283576;
$gradient: linear-gradient(-45deg, #283576 0%, #2d97b7 100%);

.section {
  max-width: calc(100vw - 60px);
  width: 1000px;
  display: block;
  margin: 50px auto 0;
}

section.faqs {

  // remove the default triangle to indicate whether the details is "open"
  // we are using or own custom one instead
  summary {
    list-style: none;
    font-size: 1.2em;
    color:rgb(46, 52, 54);
  }

  //temporary fix because chrome does not support the list-style thing
  summary::-webkit-details-marker {
    display: none;
  }
  
  .accordian, details {
    border: none;
    border-bottom: 2px solid $dark;
    box-sizing: border-box;
    width: 100%;
    background: none;
    text-align: left;
    font-family: inherit;
    position: relative;
    transition: 0.3s;
    padding-left: 50px;
    margin-bottom: 30px;
  }
  

  .accordian:after, summary:after {
    display: block;
    position: absolute;
    background: white;
    border: 2px solid $dark;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 32px;
    border-radius: 50%;
    content: "+";
    text-align: center;
    left: 5px;
    transform: translateY(-16px);
  }

  .active, .accordian:hover, summary:hover, details[open] summary {
    color: $main;
  }

  .active:after, details[open] summary:after {
    content: "-";
  }

}

.active + .panel{
  //transform: scaleY(1);
  height: auto;
}

canvas {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
  top: 50px;
}