---
---
@import 'variables';

#bigLogo {
    will-change: opacity;
    /* DO NOT CHANGE WITHOUT PERMISSION!*/
    mix-blend-mode: multiply;
}

//get involved page
.getinvolvedimgs {
    width: 100%;
}

//sources: faq page code
//        https://stackoverflow.com/a/17301828
//        https://codepen.io/morewry/pen/gbJvy
@keyframes invisiblyGrowFontSize {
    0% {
        font-size: 0;
        opacity: 0;
    }
    100% {
        font-size: 1em;
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

section.volunteerblurb {
    summary {
        font-size: 1.2em;
        // keep the same default font color (slightly not black) that seems to have been the default button text color
        color: rgb(46, 52, 54);
        // remove the default triangle to indicate whether the details is "open"
        // we are using or own custom one instead
        list-style: none;
    }
    //temporary fix because chrome does not support the list-style thing
    summary::-webkit-details-marker {
        display: none;
    }
    // code to add the custom "open" indicator
    summary:after {
        display: block;
        border: 2px solid $dark;
        position: absolute;
        background: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 32px;
        border-radius: 50%;
        content: "+";
        text-align: center;
        left: 5px;
        transform: translateY(-16px);
    }

    details {
        border: none;
        box-sizing: border-box;
        width: 100%;
        background: none;
        text-align: left;
        font-family: inherit;
        position: relative;
        border-bottom: 2px solid $dark;
        transition: 0.3s;
        padding-left: 50px;
        margin-bottom: 30px;
    }

    details[open] {
        summary:after {
            content: "-";
        }

        :not(summary) {
            animation-name: invisiblyGrowFontSize, fadeIn;
            animation-duration: 500ms, 200ms;
            animation-delay: 0ms, 500ms;
        }
    }
}