--- 
--- 
@import 'variables';

.bot {
	margin-top: 20px;
}

.section img {
	height: 200px;
	padding-left: 75px;
}

#righttext {
	flex-grow: 10;
}

.no-margin {
	padding: 0;

	.details-item {
		margin: 0;

	}
}

#pumpkin {
	width: 200px;
	height: auto;
}

@media screen and (min-width: 992px) {
	#pumpkin {
		width: 150px;
	}
}

@media screen and (max-width: 767px) {
	.computerbot {
		display: none;
	}
	#pumpkin {
	padding: 0;
	}
	.bot {
		display: block;
		margin: auto;
		padding-left: 0 !important;
	}
}