--- 
--- 
@import 'variables';

.section img {
	height: 200px;
	padding-left: 75px;
}

#righttext {
	flex-grow: 10;
}

.no-margin {
	padding: 0;

	.details-item {
		margin: 0;

	}
}

@media screen and (max-width: 767px) {
	.bot {
		display: none;
	}

	.bigimgs {
		height: 100%;
		width: auto;
	}
}