--- 
--- 
@import 'variables';
//logo
#bigLogo {
    margin-left: 40px;
}

#logoText {
    text-align: center;
    font-size: 2em;
    width: 75%;
}

.bot {
	margin-top: 20px;
}


#righttext {
	flex-grow: 10;
}

.no-margin {
	padding: 0;

	.details-item {
		margin: 0;

	}
}

#pumpkin {
	width: 225px;
	height: auto;
}

@media screen and (min-width: 992px) {
	#pumpkin {
		width: 175px;
	}
}

@media screen and (max-width: 767px) {
	.computerbot {
		display: none;
	}
	#pumpkin {
	padding: 0;
	}
	.bot {
		display: block;
		margin: auto;
		padding-left: 0 !important;
	}

	#logoText {
		text-align: center;
		font-size: 1.3em;
		width: 75%;
	}
}

.blue-box{
	align-items: center;
	margin: 30px -100px;
	padding: 10px 100px;
	background: #69cdec25;
	overflow: hidden;
  
	a{
	  color: $dark;
	}
  
	@media screen and (max-width: 767px) {
	  padding: 10px 50px;
	  margin: 30px -35px;
	}
  }