---
---
.flex-wrap{
    display: flex;
    >*{
      flex:1;
      margin:10px;
        &:first-child{
            margin-left:0px;
        }
        &:last-child{
            margin-right:0px;
        }
    }
    
}
.details-item{
    min-width:300px;
}
#after-school-program-box{
    border-bottom-color:#ff8900;
    border-left-color:#ff8900;
}
#summer-program-box{
    border-bottom-color:#41CEDA;
    border-left-color:#41CEDA;
}

.cover {
    object-fit: cover;
    width: 100%;
}

.boxes{
    //width: 611px;
    height: 386px;
    border-bottom: solid 5px;
    border-left: solid 5px;
}

.buttons{
    background-color:#329EA7;
    color: #F3F3F3;
    border-radius: 10px;
    width:100%;
    border-style:none;
    font-size: 24px;
    cursor: pointer;
}
#singleButton{
    margin:10px 0;
}