--- 
--- 

@import 'variables';

.flex-wrap {
    display: flex;

    >* {
        flex: 1;
        margin: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .flex-wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

#after-school-program-box {
    border-bottom-color: #ff8900;
    border-left-color: #ff8900;
}

#summer-program-box {
    border-bottom-color: #41CEDA;
    border-left-color: #41CEDA;
}

.boxes {
    height: 40vh;
    border-bottom: solid 5px;
    border-left: solid 5px;
    object-fit: cover;
    width: 100%;
}

.buttons {
    background-color: $main;
    color: #F3F3F3;
    border-radius: 10px;
    width: 100%;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 20px;

    &:hover {
        opacity: 0.85;
    }
}

#singleButton {
    margin-top: 10px;
}