---
---

@import "variables";

.title-text{
  font-size: 1rem;
  display: block;
  text-align: center;
}

.no-below{
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  position: relative;
  margin-bottom: 6rem;
  margin-left: 40%;
  margin-top: 3rem;
  border: solid 0.5px #FFA452;
  padding: 3rem;
  border-radius: 15px;
  font-size: 1rem;
  color:rgb(101, 105, 107)
}

.no-above {
  margin-top: 0;
}

.no-above2 {
  margin-top: -1em;
}

#uncommonsense {
  * {
      font-family: 'Duru Sans', sans-serif;
  }
  button {
      background: $dark;
      margin-top: 3rem;
      margin-bottom: 2rem;
      font-size: 3rem;
      background-color: #FFA452;
  }
}

.neural-background{
  position: absolute;
  width: 90vw;
  margin-top: -48.6rem;
  margin-left: -3.5rem;
}

/// staggard bars ///
.info-banner {
  color: #fff;
  margin: 20px -40px;
  padding: 15px;
  background: $dark;
  font-size: 1.5em;
  line-height: 1em;
  
  @media screen and (min-width: 992px){
    margin: 20px -110px;
    max-width: calc(50vw + 600px);
  }

  &:nth-child(even) {
    margin-left: auto;
  }
  &:nth-child(odd){
    text-align: right;
    margin-right: auto;
  }
}

/// images ///

#bigLogo, #logoText {
  will-change: opacity;
  mix-blend-mode: multiply;
}

.bot {
  max-height: 15vw;
  margin-top: 12rem;
  position: absolute;
  margin-left: 6rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}

.item {
  // flex: 1 1 10vw;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  font-size: 1rem;
  position:relative;
  margin-right: 65%;
}

.buttons {
  background-color: $main;
  color: #f3f3f3;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 20px;
  margin-top: 10px;
}

.buttons:hover {
  opacity: 0.85;
}

#top-image {
  object-fit: cover;
  height: 100%;
  width: 40vw;
}

@media (min-width: 310px) and (max-width: 770px) {
  #top-image {
    width: 100%;
  }
  .no-below{
    position: relative;
    margin-left: -0.5rem;
    text-align: left;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    color:rgb(101, 105, 107)
  }
  .item {
    // flex: 1 1 10vw;
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: left;
    
  }

  .remove-flex{
    display: block;
  }
  .neural-background{
    display: none;
    // position: absolute;
    // width: 90vw;
    // margin-top: 16.6rem;
    // margin-left: 3rem;
  }
  
  #uncommonsense {
      button{
      font-size: 1.5rem;
      padding: 15px;

    }
    .bot {
      display: none;
      // max-height: 30vw;
      // margin-top: 150rem;
      // position: absolute;
      // margin-left: 1.3rem;
      
    }
  }
}

@media ( min-width: 771px) and (max-width: 1024px) {
  #top-image {
    width: 100%;
  }
  #bot {
    display: none;
  }
  .remove-flex{
    display: block;
  }
  .neural-background{
    position: absolute;
    width: 95.7vw;
    margin-top: -6.8rem;
  }
  .bot {
    max-height: 33vw;
    margin-top: 14rem;
    position: absolute;
    margin-left: -1rem;
  }
}

@media (width: 800px){
  #uncommonsense{
    padding: 10px;
  }
  .neural-background{
    position: absolute;
    width: 95.4vw;
    margin-top: 9rem;
    margin-left: -0.07rem;
  }
  .bot {
    max-height: 35vw;
    margin-top: 14rem;
    position: absolute;
    margin-left: 0.1rem;
  }

}

@media screen and (min-width: 1500px){
  #bot {
    padding-left: 20%;
    padding-top: 1vw;
  }
}

//FAQ section:
.section {
  width: 100%;
}
//sources: https://stackoverflow.com/a/17301828
//        https://codepen.io/morewry/pen/gbJvy
@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.faqs {
  summary {
    font-size: 1.2em;
    // keep the same default font color (slightly not black) that seems to have been the default button text color
    color: rgb(46, 52, 54);

    // remove the default triangle to indicate whether the details is "open"
    // we are using or own custom one instead
    list-style: none;
  }
  //temporary fix because chrome does not support the list-style thing
  summary::-webkit-details-marker {
    display: none;
  }
  // code to add the custom "open" indicator
  summary:after {
    display: block;
    position: absolute;
    background: white;
    border: 2px solid $dark;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 32px;
    border-radius: 50%;
    content: "+";
    text-align: center;
    left: 5px;
    transform: translateY(-16px);
  }

  details {
    cursor: pointer;
    border: none;
    border-bottom: 2px solid $dark;
    box-sizing: border-box;
    width: 100%;
    background: none;
    text-align: left;
    font-family: inherit;
    position: relative;
    transition: 0.3s;
    padding-left: 50px;
    margin-bottom: 30px;
  }

  summary:hover,
  details[open] summary {
    color: $main;
  }

  details[open] {
    summary:after {
      content: "-";
    }

    :not(summary) {
      animation-name: invisiblyGrowFontSize, fadeIn;
      animation-duration: 500ms, 200ms;
      animation-delay: 0ms, 500ms;
    }
  }
}

canvas {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
}

/* Testmonials */
.testimonial-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 0;
}

.testimonial-item {
	padding: 10px;
	text-align: center;
	flex: 1 1 400px;
	flex-wrap: wrap;
}

.author {
  color: $dark;
  font-size: 1.2em;
}

/*width: 20%;*/
em {
	&:before {
		content: "“";
		color: $main;
		padding-right: 10px;
		font-size: 4em;
		font-family: $heading-font;
		vertical-align: middle;
	}

	&:after {
		content: "”";
		color: $main;
		font-size: 2em;
		font-family: $heading-font;
		vertical-align: middle;
	}
}
#beachbot {
  height: 200px;
}

//Hello World
.larger-text {
  font-size: 1.3em;
  line-height: 1.3em;
}

.medium-text{
  font-size: 1em;
  line-height: 1.5em;
}

.middle-button{
  text-align: center;
  display: block;
  margin: auto;
}

.largebutton{
  background-image: none;
  background-color: $lightblue;
}

.details-item{
  margin: 0;
}

.space {
  margin-right: 45px;
}

.blue-box{
  align-items: center;
  color: #fff;
  margin: 30px -100px;
  padding: 10px 100px;
  background: $dark;
  overflow: hidden;

  a{
    color: $lightblue;
  }

  @media screen and (max-width: 767px) {
    padding: 10px 50px;
    margin: 30px -35px;
  }
}

#hw-image{
  width: 25vw;
  margin: 20px;
}

@media screen and (max-width: 1150px) {
  #javascript-week{
    padding-bottom: 30px;
  }

  #project-links{
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
	#hw-image {
		display: none;
	}

  #ff-image {
    display: none;
  }

  .details-item{
    margin: 10px 0;
  }
}

//Form and Function
#ff-image {
  width: 20vw;
  max-width: 350px;
  margin: 15px;
  margin-right: 35px;
  padding: 0 20px;
}