---
---

$main: #2d97b7;
$dark: #283576;
$gradient: linear-gradient(-45deg, #283576 0%, #2d97b7 100%);

//FAQ sections:
.section {
  max-width: calc(100vw - 60px);
  width: 1000px;
  display: block;
  margin: 50px auto 0;
}
//sources: https://stackoverflow.com/a/17301828
//        https://codepen.io/morewry/pen/gbJvy
@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }                 
}

section.faqs {
  summary {

    font-size: 1.2em;
    // keep the same default font color (slightly not black) that seems to have been the default button text color
    color:rgb(46, 52, 54);

    // remove the default triangle to indicate whether the details is "open"
    // we are using or own custom one instead
    list-style: none;   
  }
  //temporary fix because chrome does not support the list-style thing
  summary::-webkit-details-marker {
    display: none;
  }
  // code to add the custom "open" indicator
  summary:after {
    display: block;
    position: absolute;
    background: white;
    border: 2px solid $dark;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 32px;
    border-radius: 50%;
    content: "+";
    text-align: center;
    left: 5px;
    transform: translateY(-16px);
  } 
  
  details {
    border: none;
    border-bottom: 2px solid $dark;
    box-sizing: border-box;
    width: 100%;
    background: none;
    text-align: left;
    font-family: inherit;
    position: relative;
    transition: 0.3s;
    padding-left: 50px;
    margin-bottom: 30px;
  }
  
  summary:hover, details[open] summary {
    color: $main;
  }

  details[open] {
    summary:after {
      content: "-";
    }

    :not(summary) {
      animation-name: invisiblyGrowFontSize, fadeIn;
      animation-duration: 500ms, 200ms;
      animation-delay: 0ms, 500ms;
    }
  } 

}

canvas {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 300px;
}



//Image
#side-image{
  max-width: 35vw;
}

#bot{
  max-width: 15vw;
}

//Flex Box
.ff-section{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.item{
  flex: 1 1 10vw;
}

#space{
  justify-content: space-between;
}

//Button
.signup-button {
  font-family: 'Nunito';
  display: block;
  margin: 10px 0;
  text-align: center;
  transition: .5s;
  font-weight: 200;
  background-image: $gradient;
  cursor: pointer;

  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 10px;
  padding: 5px 20px;

  &:hover {
    opacity: 0.85;
  }

}
#ff-signup-button {
  margin-top: 2%;
}
.buttons{
  background-color:$main;
  color: #F3F3F3;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 20px;
}

.big-flex {
  display: flex;
  >*{
    margin:10px;
  }
  justify-content: center;
}
#hw-image{
  position: relative;
  top: 10px;
  align-self: flex-start;
  max-width: 35vw;
}
#hw-main-text{
  width:65%;
  align-self: flex-start;
}
#ff-image{
  position: relative;
  top: 10px;
  align-self: flex-start;
  width: 40vw;
}
#ff-main-text{
  width:65%;
  align-self: flex-start;
}
@media only screen and (max-width: 750px) {
  .big-flex {
    flex-wrap: wrap;
  }
  #hw-image{
    width:100%;
  }
  #hw-main-text {
    width:100%;
  }
  #ff-image{
    width:100%;
  }
  #ff-main-text {
    width:100%;
  }
}
.button-flex {
  display: flex;
  >*{
    margin: 8px;
    &:first-child{
      margin-left: 0px;
    }
    &:last-child{
      margin-right: 0px;
    }
  }
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.buttons:hover{
  opacity: 90%;
  border-width: 2px;
  border-style: inset;
  border-color: #283576;
}
