---
---

@import 'variables';

/* Resources Page */
#resourceslink{
  text-decoration: none;
}

.section{
  margin: 0 auto;
  display: block;
}

#bigLogo{
  will-change: opacity;
  mix-blend-mode: multiply;
}

.bot {
	width: 200px;
	height: auto;
}

/* Details*/
.resources-container {
  display: flex;
  flex-direction: column; //mobile-first layout
  padding: 0 -5px;
  align-content: stretch;
  align-items: stretch;
  //justify-content: space-around;

}

.resources-column{
  min-width: 200px;
  flex: 1 1 300px;
  margin: 5px;
  border: 3px;
  border-color: $main;
  border-style: solid;
  padding: 20px;
}

@media (min-width: 768px) {
    .resources-container{
        flex-direction: row;
    }
}


.buttons {
  background-color: $main;
  color: #F3F3F3;
  border-radius: 10px;
  width: 100%;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 20px;

  &:hover {
      opacity: 0.85;
  }
}


