---
---

@import 'variables';

/* Resources Page */
.details-container {
  align-items: center;
}

.details-item {
  flex-basis: 100px;
}

#resource {
  flex-grow: 10;
}

#resourceslink{
  text-decoration: none;
}

.section{
  margin: 0 auto;
  display: block;
}

#bigLogo{
  will-change: opacity;
  mix-blend-mode: multiply;
}

.bot {
	width: 200px;
  height: auto;
}

#bot-item {
  flex-basis: 200px;
}

#pumpkin {
  margin-left: 10px;
}

/* Details*/
.resources-container {
  display: flex;
  flex-direction: column; //mobile-first layout
  padding: 0 -5px;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-evenly;

}

.resources-column{
  min-width: 200px;
  margin: 5px;
  padding: 20px;
  
}

.link-column {
  transition: 0.2s;
  &:hover {
   box-shadow: 2px 2px 5px $dark;
   border-radius: 10px;
  }
  p {
    color: $dark;
  }
}

.room-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
}

.room-item {
  width: 50vw;
  flex: 1 1 35vw;
  margin: 0 20px;

  strong{
    margin-top: 100px;
  }
  ul{
    margin: 5px 0;
  }
  p{
    margin: 0;
  }
}

.top{
  min-width: 250px;
}

@media (min-width: 875px) {
  .resources-container{
    flex-direction: row;
  }
  .resources-column {
    width: 35vw;
  }
  .room-item {
    flex: 1 1 15vw;
  }
}

.note {
  color: $main;
}

.heading-link {
  text-decoration: underline;
}

#topbuttons {
  margin-right: 20px;
  display: flex;
  flex-flow: row nowrap;
}

.buttons{
  background-color:$main;
  color: #F3F3F3;
  border-radius: 10px;
  width: 20vw;
  min-width: 100px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 5px 10px;
  &:hover {
      opacity: 0.85;
  }
}

//sources: https://stackoverflow.com/a/17301828
//        https://codepen.io/morewry/pen/gbJvy
@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0;
  }
  100% {
    font-size: 1em;
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }                 
}

section.homeroomdetails {
  summary {

    font-size: 1.2em;
    // keep the same default font color (slightly not black) that seems to have been the default button text color
    color:rgb(46, 52, 54);

    // remove the default triangle to indicate whether the details is "open"
    // we are using or own custom one instead
    list-style: none;   
  }
  //temporary fix because chrome does not support the list-style thing
  summary::-webkit-details-marker {
    display: none;
  }
  // code to add the custom "open" indicator
  summary:after {
    display: block;
    position: absolute;
    background: white;
    border: 2px solid $dark;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 32px;
    border-radius: 50%;
    content: "+";
    text-align: center;
    left: 5px;
    transform: translateY(-16px);
  } 
  
  details {
    border: none;
    border-bottom: 2px solid $dark;
    box-sizing: border-box;
    width: 100%;
    background: none;
    text-align: left;
    font-family: inherit;
    position: relative;
    transition: 0.3s;
    padding-left: 50px;
    margin-bottom: 30px;
  }
  
  summary:hover, details[open] summary {
    color: $main;
  }

  details[open] {
    summary:after {
      content: "-";
    }

    :not(summary) {
      animation-name: invisiblyGrowFontSize, fadeIn;
      animation-duration: 200ms, 100ms;
      animation-delay: 0ms, 200ms;
    }
  } 

}