---
---

$main: #2d97b7;
$dark: #283576;
$gradient: linear-gradient(-45deg, #283576 0%, #2d97b7 100%);

/* Sign Up Page */
.signup-wrap{
  text-decoration: none;
}
.signup-button {
  font-family: 'Nunito';
  display: block;
  margin: 10px auto;
  text-align: center;
  transition: .5s;
  font-weight: 200;
  background-image: $gradient;
  cursor: pointer;

  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 10px;
  padding: 5px 20px;

  &:hover {
    opacity: 0.85;
  }
}

.notextdecoration {
  text-decoration: none;
}

td {
  padding: 1.5%;
}

.banner{
  isolation: isolate;
}

#sessionWrap{
  display: flex;
  flex-wrap: wrap;

  .session{
    flex: 1 1 500px;
    padding: 0px 20px;
  }
}