---
---

$main: #41CEDA;
$dark: #153570;
$gradient: linear-gradient(-45deg, $dark 0%, $main 100%);

/* Sign Up Page */
.signup-wrap{
  text-decoration: none;
}
/*.signup-button {
  font-family: 'Nunito';
  display: block;
  margin: 10px auto;
  text-align: center;
  transition: .5s;
  font-weight: 200;
  background-image: $gradient;
  cursor: pointer;

  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  border-radius: 10px;
  padding: 5px 20px;

  &:hover {
    opacity: 0.85;
  }
}*/

.notextdecoration {
  text-decoration: none;
}

.banner{
  isolation: isolate;
}

#sessionWrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px 0;

  .session{
    flex: 1 1 400px;
    margin: 0px 20px;
  }
}

#bigLogo{
  will-change: opacity;
  mix-blend-mode: multiply;
}