---
---

/*TODO
Wrap signup button on homepage
Make testimonials wrap on mobile
Fix brs on about us page
Fix map sizing
*/

$main: #2d97b7;
$dark: #283576;
$gradient: linear-gradient(-45deg, #283576 0%, #2d97b7 100%);
$body-font: 'Roboto', 'Avenir', sans-serif;
$heading-font: 'Nunito', 'Avenir', sans-serif;

*{
    font-family: $body-font;
}

/* General */
body {
    color: rgb(112, 112, 112);
    line-height: 1.5em;
    font-size: 1em;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    color: $dark;
    transition: .5s;
    &:hover{
        color: $main;
    }
}

.section{
    display: inline-block;
    margin: 0 auto;
}

h2 {
    color: $main;
    font-family: $heading-font;
    font-weight: 700;
    margin-bottom: 2%;
}

h3 {
    font-family: $heading-font;
    margin-bottom: 0.5%;
}

.subtitle {
    color: $dark;
    font-size: 1.5em;
    text-align: center;
}

strong { font-weight: 700; }

button {
    font-family: inherit;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

button.action-button {
  /* display: block; */
  margin: 10px 5px;
  text-align: center;
  transition: 0.5s;
  font-weight: 200;
  background-image: linear-gradient(-45deg, #283576 0%, #2d97b7 100%);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 5px 20px;
  /* max-width: 200px; */
  /* width: 80%; */
}
button.action-button:hover {
  opacity: 0.85;
}

button.action-button:not(.navbutton) {
  font-size: 2em;
}


/* banner */
.banner{
    height: 300px;
    display: flex;
    align-content: center;

    canvas{
        position: absolute;
        z-index: -1;
    }
}

#canvas{
  height: 300px;
  width: 100%;
}

/* take this out */
button:focus {
    outline: none;
    box-shadow: none;
}

img {
    align-self: center;
}

/* General Spacing */
.content {
    margin: 20px auto;
    flex: 1 0 auto;
    width: calc(100% - 60px);
}

.content h1::before,.content h2::before, .content h3::before,
.content h4::before, .content h5::before, .content h6::before {
    content: "// ";
}

.noslashes::before {
    content: "";
}

/* Navigation Bar */
#topnav {
    display: flex;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0 2.5vw;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    justify-content:   space-between;
    z-index: 1;

    a{
        text-decoration: none;
    }
}

#navlogo {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;

}

.mobile {
    display: none;
}

#navlogo-button {
    background: none;
    border: none;
}

#navlogo-button:hover {
    cursor: pointer;
}

.navbutton {
    transition: 0.5s ease-in-out;
    border: none;
    border-bottom: solid $main 1px;
    margin: 0 0.8vw;

    background-color: inherit;
    height: 100%;

    text-transform: uppercase;
    color: $main;
    font-size: 0.9em;
}

.navbutton:hover {
    font-weight: bold;
}

#banner { text-align: center; }
#bigLogo {
    width: calc(100% - 200px);
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 992px) {
    #bigLogo{
        max-width: 800px;
    }
    .content{
        width: calc(100% - 200px);
        max-width: 1500px;
    }
}


/* Details*/
.details-container {
  display: flex;
  flex-direction: column; //mobile-first layout
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  padding: 0 -10px;
}

.details-item {
  padding: 1% 0;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  margin: 10px;
}

iframe.embeddedform {
    display: none;
    // override the defailt width and height HTML attributes
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) {
    .details-container{
        flex-direction: row;
    }

    .details-item {
        flex-basis: 300px;
    }

    iframe.embeddedform {
        display: block;
    }
    
    .embedfallbackbutton {
        display: none;
    }
}

/* Footer */
#footer {
    background-color: $dark;
    padding: 0.5vh 2vw;
    color: white;
    text-align: center;
    font-size: 0.8em;

    .fa-stack{
        transition: color 0.3s;
        &:hover{
            color: $dark;
            .fa-inverse{
                color: #fff;
            }
        }
    }
    .fa-inverse{
        color: $dark;

       transition: color 0.3s;
    }

    div{
        margin: 20px;
    }

    a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5em;
    }
}

#footer-contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    p{
        font-size: 13px;
        margin: 0px;
    }
}

#footer-connect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
        color: #41ceda;
        border-bottom: solid;
        margin: 5px 0px 10px;
        min-width: max-content;
    }
}

#footer-buttons {
    display: flex;
    flex-direction: column;
    
    #donate {
        margin: 0px;
        margin-top: 10px;
        
        button {
            background-color: #41ceda;
            border: none;
            border-radius: 10px;
            height: 30px;
            width: 98%;
            color: #283576;  
            font-weight: bold;
            font-size: 15px;
        }

        button:hover {
            color: #41ceda;
            background-color: $dark;
            font-size: 85%;
            filter: brightness(125%);
        }
    }
    
    #socials{
        margin: 0px;
        display: flex;
    }
}

#footer-info {
    min-width: 150px;
}


/* Homepage */
#warning {
    color: #e77d00;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
}

#introtext {
    margin: 0 2vw 0 0;
}



/*#for-fun {
    border: 3px solid;
    border-image: $gradient 1 round;
    padding: 1.3%;
    width: 20%;
    font-size: 0.9em;
}

#for-fun:hover {
    animation-name: fill;
}

@keyframes fill {
    from {}
    to {
        background-image: $gradient;
        color: white;
    }
}*/


.social-media {
    height: 8vh;
    margin: 0 1vw;
}

.social-media:hover {
    opacity: 0.85;
}


/* responsive */
@media only screen and (max-width: 768px) {

    canvas, #canvas, div canvas{
        top: 0;
    }
    #topnav {
        #navlogo {
            display: none;
        }

        .mobile {
            display: initial;
        }


        $hamburger-menu-size: 60px;
        $hamburger-menu-border-radius: .12em;
        $hamburger-menu-line-height: 2px;
        $hover-line-height: $hamburger-menu-line-height;

        $content-bg-color: rgba(255, 255, 255, 0.9);

        $main-color: #FEFEFE;
        //$hover-color: darken($main-color,10%);
        $anim-duration: .4s;

        .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        * {
            box-sizing: border-box;
        }

        a,
        a:visited,
        a:hover,
        a:active {
            color: inherit;
            text-decoration: none;
        }


        position: fixed;
        top: 10vh;
        left: 0;
        z-index: 1;

        .checkbox-toggle {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            width: $hamburger-menu-size;
            height: $hamburger-menu-size;
            opacity: 0;

            &:checked {
                & + .hamburger {
                    > div {
                        transform: rotate(135deg);

                        &:before,
                        &:after {
                            top: 0;
                            transform: rotate(90deg);
                        }

                        &:after {
                            opacity: 0;
                        }
                    }
                }

                & ~ #topnav-right  {
                    pointer-events: auto;
                    visibility: visible;

                    > div {
                        transform: scale(1);
                        transition-duration: .75s;

                        > div {
                            opacity: 1;
                            transition: opacity $anim-duration ease $anim-duration;
                        }
                    }
                }
            }

            &:hover + .hamburger {
                box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
            }

            &:checked:hover + .hamburger > div {
                transform: rotate(225deg);
            }
        }

        .hamburger {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: $hamburger-menu-size;
            height: $hamburger-menu-size;
            padding: .5em 1em;
            background: $main;
            border-radius: 0 $hamburger-menu-border-radius $hamburger-menu-border-radius 0;
            cursor: pointer;
            transition: box-shadow $anim-duration ease;
            backface-visibility: hidden;
            @extend .flex-center;

            > div {
                position: relative;
                flex: none;
                width: 100%;
                height: $hamburger-menu-line-height;
                background: $main-color;
                transition: all $anim-duration ease;
                @extend .flex-center;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: -$hamburger-menu-size / 6;
                    left: 0;
                    width: 100%;
                    height: $hamburger-menu-line-height;
                    background: inherit;
                    transition: all $anim-duration ease;
                }

                &:after {
                    top: $hamburger-menu-size / 6;
                }
            }
        }

        #topnav-right {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            visibility: hidden;
            overflow: hidden;
            backface-visibility: hidden;
            outline: 1px solid transparent;
            @extend .flex-center;

            > div {
                width: 200vw;
                height: 200vw;
                color: $main-color;
                background: $content-bg-color;
                border-radius: 50%;
                transition: all $anim-duration ease;
                flex: none;
                transform: scale(0);
                backface-visibility: hidden;
                overflow: hidden;
                @extend .flex-center;

                > div {
                    text-align: center;
                    max-width: 90vw;
                    max-height: 100vh;
                    opacity: 0;
                    transition: opacity $anim-duration ease;
                    overflow-y: auto;
                    flex: none;
                    @extend .flex-center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    /*> ul {
                        list-style: none;
                        padding: 0 1em;
                        margin: 0;
                        display: block;
                        max-height: 100vh;

                        > li {
                            padding: 0;
                            margin: 1em;
                            font-size: 24px;
                            display: block;*/

                            > a {
                                position: relative;
                                cursor: pointer;
                                transition: color $anim-duration ease;
                                font-size: 2em;
                                margin: 10px 0;

                               /*:hover {
                                    color: $hover-color;

                                    &:after {
                                        width: 100%;
                                    }
                                }*/

                                > button.tinybutton {
                                    font-size: 2rem;
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    z-index: 1;
                                    bottom: -.15em;
                                    left: 0;
                                    width: 0;
                                    height: $hover-line-height;
                                    //background: $hover-color;
                                    transition: width $anim-duration ease;
                                }
                            /*}
                        }*/
                    }
                }
            }
        }
    }
}

button.tinybutton {
    font-size: 1rem;
    font-weight: 350;
    border-radius: 7.5px;
}

button.smallbutton {
    font-size: 1.25rem;
    border-radius: 10px;
}

button.mediumbutton {
    font-size: 1.5rem;
    border-radius: 10px;
}

button.largebutton {
    font-size: 2rem;
    border-radius: 10px;
}

.centertext {
    text-align: center;
}