---
---

@import 'variables';

#bigLogo, #logoText {
    will-change: opacity;
    mix-blend-mode: multiply;
}

h1{
    line-height: 30px;
}

#no-below{
    margin-bottom: 0;
}

#bigger-text{
    font-size: 1.3em;
}

.details-item{
    flex: 1 1 275px;
}

#volunteer-info{
    align-items: baseline;
}

.flexbutton {
    display: flex;
    flex-wrap: wrap;
}

.sectionbutton {
    background-color: $main;
    color: #F3F3F3;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 20px;
    margin: 10px;
    &:hover {
        opacity: 0.85;
    }
}

//Hello World Leadership
//Dropdowns
section.volunteerblurb {
    summary {
        font-size: 1.2em;
        // keep the same default font color (slightly not black) that seems to have been the default button text color
        color: rgb(46, 52, 54);
        // remove the default triangle to indicate whether the details is "open"
        // we are using or own custom one instead
        list-style: none;
    }
    //temporary fix because chrome does not support the list-style thing
    summary::-webkit-details-marker {
        display: none;
    }
    // code to add the custom "open" indicator
    summary:after {
        display: block;
        border: 2px solid $dark;
        position: absolute;
        background: white;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 32px;
        border-radius: 50%;
        content: "+";
        text-align: center;
        left: 5px;
        transform: translateY(-16px);
    }

    details {
        border: none;
        box-sizing: border-box;
        width: 100%;
        background: none;
        text-align: left;
        font-family: inherit;
        position: relative;
        border-bottom: 2px solid $dark;
        transition: 0.3s;
        padding-left: 50px;
        margin-bottom: 30px;
    }

    details[open] {
        summary:after {
            content: "-";
        }

        :not(summary) {
            animation-name: invisiblyGrowFontSize, fadeIn;
            animation-duration: 500ms, 200ms;
            animation-delay: 0ms, 500ms;
        }

        .underline{
            border-bottom: 2px solid $dark;
            width: max-content;
        }
    }
}

.hwleadership{
    justify-content: space-between;

    .details-item{
        max-width: 40vw;
    }
}