---
---

@import "variables";

/*
List
(adapted from https://codepen.io/chriscoyier/pen/xjapNK)
*/

h2{
    margin-bottom: 15px;
}

h3{
    margin-top: 0;
}

#topbuttons .details-container{
    margin-right: 20px;
    flex-wrap: nowrap;
}

#ffphoto {
    width: 50%;
    margin-left: 25%;
}

.buttons{
    background-color:$main;
    color: #F3F3F3;
    border-radius: 10px;
    width: 15vw;
    min-width: 100px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
    &:hover {
        opacity: 0.85;
    }
}

// .steps {
//     clear: both;
//     list-style: none;
//     padding-left: 40px;

//     li {
//         margin: 2em 0;
//         padding-top: 1em;
//         padding-bottom: 1px;
//         display: block;
//         position: relative;
//         counter-increment: inst;
//     }
// }

// .steps li::before {
//     content: counter(inst);

//     background:$dark;
//     color: #fff;

//     font-size: 1em;
//     font-weight: 700;
//     font-style: italic;
//     text-shadow: 1px 1px $main;

//     border-radius: 0 0.675em 0.675em 0;
//     font-size: 1.5em;
//     text-align: center;
//     line-height: 1.4em;

//     padding-top: 0;
//     padding-left: 2em;
//     left: -3em;
//     top: -0.65em;
//     height: 1.35em;
//     width: 1.35em;
//     position: absolute;

//     transition: all 0.2s ease-in-out;

//     z-index: -1;
// }
// @media (min-width: 600px) {
//     .steps li:before {
//         border-radius: 50%;
//         font-size: 2.5em;
//         height: 1.35em;
//         padding-left: 0;
//         padding-top: 0;
//         top: -30px;
//         left: -50px;
//         right: 10px;
//         width: 1.35em;
//         z-index: -1;
//     }
// }

#bigLogo, #logoText {
    will-change: opacity;
    mix-blend-mode: multiply;
}

//Dropdowns
section.dropdowns {
    summary {
      font-size: 1.2em;
      // keep the same default font color (slightly not black) that seems to have been the default button text color
      color: rgb(46, 52, 54);
  
      // remove the default triangle to indicate whether the details is "open"
      // we are using or own custom one instead
      list-style: none;
    }
    //temporary fix because chrome does not support the list-style thing
    summary::-webkit-details-marker {
      display: none;
    }
    // code to add the custom "open" indicator
    summary:after {
      display: block;
      position: absolute;
      background: white;
      border: 2px solid $dark;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 32px;
      border-radius: 50%;
      content: "+";
      text-align: center;
      left: 5px;
      transform: translateY(-16px);
    }
  
    details {
      cursor: pointer;
      border: none;
      border-bottom: 2px solid $dark;
      box-sizing: border-box;
      width: 100%;
      background: none;
      text-align: left;
      font-family: inherit;
      position: relative;
      transition: 0.3s;
      padding-left: 50px;
      margin-bottom: 30px;
    }
    
    details[open] summary {
        h2{
            padding-bottom: 15px;
            border-bottom: 2px solid $dark;
        }
    }
  
    details[open] {
        summary:after {
        content: "-";
        transform: translateY(-33px);
        }

        :not(summary) {
        animation-name: invisiblyGrowFontSize, fadeIn;
        animation-duration: 500ms, 200ms;
        animation-delay: 0ms, 500ms;
        }
    }
}