---
---

@import 'variables';

#bigLogo{
    will-change: opacity;
    mix-blend-mode: multiply;
}

h1{
    line-height: 30px;
}



.details-item{
    flex: 1 1 275px;
}

#volunteer-info{
    align-items: baseline;
}

.flexbutton {
    display: flex;
    flex-wrap: wrap;
}

.sectionbutton {
    background-color: $main;
    color: #F3F3F3;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 20px;
    margin: 10px;
    &:hover {
        opacity: 0.85;
    }
}